@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: default;
}

#creditos-container {
    padding: 30px 0px;
    font-family: "Staatliches", sans-serif;
    color: #233115;
    text-align: center;
    font-size: 4.5vw;
}

#creditos-container h2 {
    margin: 20px 0px;
}

#creditos-container hr {
    width: 100%;
    height: 5px;
    background-color: #697644;
}

#intro-container #welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#intro-container #welcome h1 {
    font-size: 10vw;
    font-family: "Staatliches", sans-serif;
    color: #697644;
}

#intro-container #welcome hr {
    width: 30vw;
    height: 5px;
    background-color: #697644;
}

#intro-container #sala {
    background-color: #D4D9D1;
    box-shadow: 0px 0px 20px #233115;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro-container #sala h2 {
    font-size: 3vw;
    color: #233115;
    font-family: "Staatliches", sans-serif;
    text-align: center;
}

#CarroselImagens-container h3,
#CarroselArtigos-container h3 {
    font-family: 'Ubuntu', sans-serif;
    color: #D4D9D1;
    text-align: center;
    background-color: #697644;
    padding: 5px;
}

#CarroselImagens-container #carrosel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#CarroselImagens-container #carrosel .img {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
}

#CarroselImagens-container #carrosel .img img:hover {
    object-fit: cover;
    width: 110%;
}

#CarroselImagens-container #carrosel .img img {
    transition: all 2s;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

#CarroselArtigos-container #carrosel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#CarroselArtigos-container #carrosel .artigoCarrosel {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5vw;
    color: #233115;
    text-align: center;
    background-color: #D4D9D1;
    width: 20vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#CarroselArtigos-container #carrosel .artigoCarrosel img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#CarroselArtigos-container #carrosel .artigoCarrosel a {
    cursor: pointer;
    width: 100%;
}

#CarroselArtigos-container #carrosel .artigoCarrosel a button {
    border: none;
    color: #D4D9D1;
    font-size: 1.5vw;
    font-family: "Ubuntu", sans-serif;
    padding: 5px;
    cursor: pointer;
    width: 95%;
    background-color: #233115;
}

@media (max-width: 768px) {
    #intro-container #welcome h1 {
        font-size: 24vw;
    }

    #intro-container #welcome hr {
        width: 0px;
    }
}
